VITE_SUPABASE_URL=https://https://epustisedanquqfsxidc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwdXN0aXNlZGFucXVxZnN4aWRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMjM2NDUsImV4cCI6MjA4ODY5OTY0NX0.HtmX_jZAxOKa1TtGV5hFlj5IToYWsHSQViT65-QJJVc
VITE_APP_URL=https://https://ai-career-compass-30.vercel.app/
